{% extends 'base.html.twig' %}

{% block title %}Ajouter un Vol{% endblock %}

{% block body %}
    <h1>Ajouter un Vol</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_vol') }}">Retour à la liste des vols</a>
{% endblock %}
